@import "../../../assets/styles/constants"
.zg-option
  height: 34px
  line-height: 34px
  padding: 0 10px
  font-size: $size-font-content
  color: $color-font-title
  cursor: pointer
  &:hover
    background: $color-tip-normal-background
  .zg-checkbox
    width: 100%
  .zg-option-icon
