@import "../../../assets/styles/constants"
.zg-select
  height: 30px
  line-height: 28px
  display: inline-block
  font-size: $size-font-content
  position: relative
  vertical-align: middle
  background: $color-white
  .zg-select-handle
    min-width: 50px
    height: 100%
    cursor: pointer
    border: 1px solid $color-border-normal
    border-radius: $border-radius
    padding: 0 20px 0 10px
    .zg-select-label
      display: inline-block
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .zg-placeholder
      color: $color-font-placeholder
    &.noborder
      border: none
      .zg-label
        display: flex
        flex-direction: row
        &.zg-placeholder
          color: $color-font-placeholder
        .zg-value
          flex: 1
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
        .zg-count
          width: 20px
          flex: none
      &+.zg-drop-panel
        margin: 0
    .zg-select-chosen input[type='text']
      padding-right: 20px !important
      cursor: pointer
    .zg-select-arrow
      position: absolute
      top: 0
      right: 5px
    &.active .zg-select-arrow
      transform: rotate(180deg)
  .zg-drop-panel
    position: absolute
    z-index: $z-index-base
    border: 1px solid $color-border-normal
    border-radius: $border-radius
    margin-top: 7px

    min-width: 100%
    max-height: 325px
    width: auto
    background: $color-white
    box-shadow: $shadow-normal

    display: flex
    flex-direction: column
    .zg-fixed
      flex: none
      padding: 5px
    .zg-content
      flex: 1
      overflow-y: auto
      .zg-error
        color: $color-font-disabled
        cursor: default
        width: 150px
        padding: 0 10px
    .zg-clear
      border-bottom: 1px solid $color-border-normal
      a
        font-size: $size-font-tip
        color: $color-info
        margin-left: 10px
