@import "../../../assets/styles/constants"
.zg-select
  display: inline-block
  font-size: $size-font-content
  .zg-select-handle
    border: 1px solid $color-border-normal
    border-radius: $border-radius
    .zg-select-chosen
    [class^='icon-']
  .zg-drop-panel
    .zg-select-search
      .icon-search
      .icon-remove
    .zg-select-clear
