@import "../../../assets/styles/constants"
.zg-select
  height: 28px
  line-height: 28px
  display: inline-block
  font-size: $size-font-content
  position: relative
  .zg-select-handle
    width: 100%
    height: 100%
    cursor: pointer
    &.noborder
      .zg-input
        border: none
    .zg-select-chosen input[type='text']
      padding-right: 20px !important
      cursor: pointer
    .zg-select-arrow
      position: absolute
      top: 0
      right: 5px
    &.active .zg-select-arrow
      transform: rotate(180deg)
  .zg-drop-panel
    position: absolute
    border: 1px solid $color-border-normal
    border-radius: $border-radius
    margin-top: 7px
    padding: 5px

    min-width: 100%
    max-height: 325px
    width: auto
    background: $color-white
    box-shadow: 0 1px 4px 0 rgba(53,64,82,0.50)

    display: flex
    flex-direction: column
    .zg-fixed
      flex: none
    .zg-content
      flex: 1
      overflow-y: auto
    li:first-child
      margin-top: 5px
    .zg-clear
      border-bottom: 1px solid $color-border-normal
      a
        font-size: $size-font-tip
        color: $color-info
        margin-left: 10px
